/.gradle/
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/build/
/content/
/gradle/wrapper/
/.idea/artifacts/uhahatablebot_jar.xml
/out/artifacts/uhahatablebot_jar/content/cringe.mp4
/out/artifacts/uhahatablebot_jar/content/enjoyer.mp4
/out/artifacts/uhahatablebot_jar/content/fan.mp4
/out/artifacts/uhahatablebot_jar/content/fan-enjoyer.mp3
/out/artifacts/uhahatablebot_jar/content/sniff.mp4
/out/artifacts/uhahatablebot_jar/output/57632.mp4
/out/artifacts/uhahatablebot_jar/uhahatablebot.jar
/output/57628.mp4
/output/57629.mp4
/saved/57628enjoyer.srt
/saved/57628fan.srt
/saved/57629enjoyer.srt
/saved/57629fan.srt
